.article {
  padding: 12rem 1.6rem;

  display: flex;
  justify-content: center;

  @media (max-width: $mobile), (max-height: 820px) {
    padding: 6rem 1.6rem;
  }

  &__header {
    margin-bottom: 12rem;
    text-align: center;

    .body-text {
      margin: 0 auto;
      max-width: 85rem;
    }
  }

  // Articles
  @import "hero";
  @import "portfolio";
  @import "skills";
  @import "photoshop";
}
