.article {
  @include vert-padding;
  @include hoz-padding;

  display: flex;
  justify-content: center;

  &__header {
    @include bottom-margin;
    text-align: center;

    .body-text {
      margin: 0 auto;
      max-width: 85rem;
    }
  }

  // Articles
  @import "hero";
  @import "about";
  @import "skills";
  @import "projects";
  @import "contact";
}
