.article {
  @include vert-padding;
  @include hoz-padding;

  display: flex;
  justify-content: center;
  overflow: hidden;

  &__header {
    text-align: center;

    .body-text {
      margin: 0 auto;
      max-width: 85rem;
      text-align: left;
    }
  }

  // Articles
  @import "hero";
  @import "about";
  @import "skills";
  @import "projects";
  @import "contact";
  @import "404";
}
