&__contact {
  position: relative;
  overflow: hidden;
  background-color: $dark-color;

  .container {
    @include hoz-padding;
    @include vert-padding;
    background-color: #fff;
    border-radius: 4.3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12rem;

    @media (max-width: 1176px) {
      gap: 8rem;
    }

    @media (max-width: $mobile) {
      border-radius: 2.3rem;
      gap: 4rem;
    }
  }

  .article__header {
    flex: 1 1 40rem;
    text-align: left;
  }

  .heading--h2 {
    color: $heading-dark;
  }

  .body-text {
    margin: 0;
    max-width: 55rem;
  }

  .form {
    flex: 1 1 40rem;
  }

  .icon-text {
    margin: 2rem 0;
    font-weight: 500;
    display: flex;
    gap: 8px;
  }

  .social-icon {
    width: 5rem;
    height: 5rem;

    &.github {
      fill: rgba(0, 0, 0, 0.8);
    }
    &.linkedin {
      fill: rgba(0, 115, 177, 0.8);
    }

    svg {
      width: 100%;
      height: 100%;
      fill: inherit;
    }
  }

  form .btns {
    justify-content: flex-end;
  }
}
