&__contact {
  @include full-bottom-padding;
  position: relative;

  .container {
    background-color: #fff;
    border-radius: 4.3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12rem;

    @media (max-width: 1176px) {
      gap: 8rem;
    }

    @media (max-width: $mobile) {
      border-radius: 2.3rem;
      gap: 4rem;
    }
  }

  .article__header {
    flex: 1 1 40rem;
    text-align: left;
  }

  .heading--h2 {
    color: $heading-dark;
  }

  .body-text {
    margin: 0;
    max-width: 55rem;
  }

  .icon-text {
    color: $heading-dark;
  }

  .form {
    flex: 1 1 40rem;
  }

  .social-icon {
    width: 3.2rem;
    height: 3.2rem;
    fill: $dark-color;
    transition: fill $time;

    @include tooltip;

    @media (hover: hover) {
      &:hover {
        fill: $light-color;
      }
    }

    svg {
      width: 100%;
      height: 100%;
      fill: inherit;
    }
  }

  form .btns {
    justify-content: flex-end;
  }
}
