&__hero {
  position: relative;
  min-height: 750px;
  height: 100vh;
  max-height: 130rem;
  color: #fff;
  background-color: $dark-color;
  overflow: hidden;

  @media (max-width: $mobile) {
    min-height: 660px;
  }

  .container {
    position: relative;
  }

  .typography {
    margin-top: 15rem;

    @media (max-width: $tablet), (max-height: 950px) {
      margin-top: 7.5rem;
    }
  }

  h1 {
    line-height: 1;
    color: $heading-light;
    span {
      color: $light-color;
    }
  }

  .body-text {
    max-width: 40ch;
    color: $body-text-light;

    span {
      color: $light-color;
      font-weight: 600;
    }
  }

  .btns {
    @media (max-width: $mobile) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .features {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(2rem, 3vw, 4rem);

    .feature {
      flex: 0 1 auto;

      @media (max-width: $mobile) {
        display: none;
      }

      &__icon {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        span {
          width: clamp(3rem, 2vw, 4rem);
          height: clamp(3rem, 2vw, 4rem);
          svg {
            fill: #fff;
          }
        }
      }

      &__text {
        display: inline-block;
        width: 10ch;
        color: $body-text-light;
        font-size: $small-text-size;
        line-height: 1.3;
      }
    }
  }
}
