&__hero {
  position: relative;
  color: #fff;
  background-color: $dark-color;
  overflow: hidden;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 12rem;

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      row-gap: 6rem;
    }
  }

  .typography {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 12rem;
  }

  h1 {
    line-height: 1;
    color: $heading-light;
    span {
      color: $light-color;
    }
  }

  .body-text {
    max-width: 40ch;
    color: $body-text-light;

    span {
      color: $light-color;
      font-weight: 600;
    }
  }

  .btns {
    @media (max-width: $mobile) {
      display: none;
    }
  }

  .features {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;

    @media (max-width: 1060px) {
      grid-column: 1/-1;
    }

    .feature {
      flex: 0 1 auto;

      @media (max-width: $mobile) {
        display: none;
      }

      &__icon {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;

        span {
          width: 4rem;
          height: 4rem;
          svg {
            fill: #fff;
          }
        }
      }

      &__text {
        display: inline-block;
        width: 10ch;
        color: $body-text-light;
        font-size: $small-text-size;
        line-height: 1.3;
      }
    }
  }

  .image {
    grid-column: 2/-1;
    grid-row: 1 /3;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1060px) {
      grid-row: 1/2;
    }

    @media (max-width: 650px) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    @media (max-width: $mobile) {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    &__wrapper {
      @media (max-width: 976px) {
        max-width: 60rem;
      }
    }

    @media (max-width: $mobile) {
    }
  }
}
