&__photoshop {
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .grid__item {
    position: relative;
    aspect-ratio: 16/9;

    img {
      transition: transform $time;
    }

    &:hover img {
      transform: scale(1.1);
      z-index: 50;
    }
  }

  .click {
    cursor: pointer;
  }

  .header {
    grid-column: span 8;
    grid-row: span 2;
    display: grid;
    place-content: center;
  }

  .beechfield-beanie {
    grid-column: span 4;
  }

  .axq {
    grid-column: span 4;
  }

  .beechfield-morf {
    grid-column: span 6;
  }

  .yoko {
    grid-column: span 6;
  }

  .fotl {
    grid-column: span 4;
  }

  .portwest {
    grid-column: span 8;
    grid-row: span 2;
  }

  .premier {
    grid-column: span 4;
  }

  .bandc {
    grid-column: span 6;
  }

  .workguard {
    grid-column: span 6;
  }

  .btns {
    margin-top: 12rem;
    justify-content: center;
  }
}
