.footer {
  position: relative;

  background-color: $dark-color;

  @media (max-width: $laptop) {
    margin-top: 4rem;
  }

  &__back-to-top {
    display: block;
    position: relative;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);

    width: 10rem;
    height: 10rem;
    display: grid;
    place-content: center;
    border: 6px solid #fff;
    border-radius: 50%;
    background-color: $light-color;

    @media (max-width: $laptop) {
      width: 6rem;
      height: 6rem;
      top: -3rem;
      border: 3px solid #fff;
    }

    svg {
      width: 3rem;
      height: 3rem;
      fill: #fff;
    }
  }

  .heading {
    color: $heading-light;
  }
  color: $body-text-light;
  @include hoz-padding;
  .copyright {
    text-align: center;
    padding-bottom: 4rem;
  }

  &__links {
    position: relative;
    top: -2rem;
    @include vert-padding-small;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 4rem;

    @media (max-width: 1104px) {
      justify-content: flex-start;
    }
  }
}
