.mobile-menu {
  visibility: hidden;
  position: fixed;
  top: 10rem;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  padding: 0 1rem;
  background-color: $bg-color-dark;
  transition: left $time;

  &.open {
    @media (max-width: $tablet) {
      visibility: visible;
      left: 0;
    }
  }

  .navigation {
    &__link {
      color: rgba(#fff, 0.6);

      &.btn {
        width: max-content;
        padding: 0;
      }
    }
  }
}
