.navigation {
  &__link {
    font-size: 2rem;
    text-decoration: none;
    transition: color $time;

    &:hover {
      color: $light-color;
    }

    &:focus:not(.btn) {
      border-radius: 1px;
      outline-offset: 5px;
    }
  }
}
