.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 6rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .logo {
    text-transform: uppercase;
    font-weight: 500;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  .mobile-icon {
    display: none;

    @media (max-width: $tablet) {
      display: flex;
    }
  }
}
