.section {
  min-height: 100vh;
  padding: 12rem 1rem;

  &__hero {
    color: #fff;
    background-color: $bg-color-dark;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      line-height: 1;
      span {
        display: block;
      }
    }

    .body-text {
      max-width: 40ch;
      color: rgba(#fff, 0.6);
    }

    .btns {
      margin-top: 4rem;
    }
  }
}
