.section {
  min-height: 100vh;
  padding: 12rem 1rem;
  // Hero Section
  &__hero {
    color: #fff;
    background-color: $bg-color-dark;

    .container {
      height: calc(100vh - 24rem);
      position: relative;
      display: flex;
      align-items: center;
    }

    h1 {
      line-height: 1;
      span {
        display: block;
      }
    }

    .body-text {
      max-width: 40ch;
      color: rgba(#fff, 0.6);
    }

    .btns {
      margin-top: 4rem;
    }

    .highlights {
      position: absolute;
      bottom: 0;
      left: 0;

      display: flex;
      align-items: center;
      gap: 4rem;

      .highlight {
        &__icon {
          margin-bottom: 1rem;
          display: flex;
          align-items: center;
          gap: 1rem;

          span {
            width: 4rem;
            height: 4rem;
            svg {
              fill: #fff;
            }
          }
        }
        &__text {
          max-width: 10rem;
          color: rgba(#fff, 0.6);
          font-size: 1.6rem;
          line-height: 1.3;
        }
      }
    }
  }
}
