@mixin hoz-padding {
  padding-left: 6rem;
  padding-right: 6rem;

  @media (max-width: $tablet) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (max-width: $mobile) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@mixin vert-padding {
  padding-top: 24rem;
  padding-bottom: 24rem;

  @media (max-width: $laptop-l) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  @media (max-width: $laptop) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @media (max-width: $tablet) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  @media (max-width: $mobile) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@mixin vert-padding-small {
  padding-top: 12rem;
  padding-bottom: 12rem;

  @media (max-width: $laptop-l) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @media (max-width: $laptop) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @media (max-width: $tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@mixin bottom-margin {
  margin-bottom: 12rem;

  @media (max-width: $laptop-l) {
    margin-bottom: 10rem;
  }
  @media (max-width: $laptop) {
    margin-bottom: 8rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 6rem;
  }
}

@mixin tooltip {
  position: relative;
  &::before {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    color: #fff;
    background-color: $light-color;
    opacity: 0;
    transition: opacity $time, top $time;
  }
  @media (hover: hover) {
    &:hover {
      &::before {
        top: -5rem;
        opacity: 1;
      }
    }
  }
}
