@mixin vert-padding {
  padding-top: 12rem;
  padding-bottom: 12rem;

  @media (max-width: $laptop) {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  @media (max-width: $tablet) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  @media (max-width: $mobile) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
