.bg-highlight {
  position: absolute;
  width: 200rem;
  height: 200rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-image: radial-gradient($light-color 0%, transparent 60%);
  opacity: 0.3;

  @media (max-width: $laptop) {
    width: 125rem;
    height: 125rem;
  }
  @media (max-width: $mobile) {
    width: 75rem;
    height: 75rem;
  }

  &--top-left {
    top: 0;
    left: 0;
  }
  &--top-center {
    top: 0;
    left: 50%;
  }

  &--top-right {
    top: 0;
    left: 100%;
  }

  &--bottom-left {
    top: 100%;
    left: 0;
  }

  &--center {
    top: 50%;
    left: 50%;
  }

  &--bottom-center {
    top: 100%;
    left: 50%;
  }

  &--bottom-right {
    top: 100%;
    left: 100%;
  }
}
