.btns {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;

  &.tags {
    gap: 1rem;
  }
}

.btn {
  min-width: max-content;
  padding: 1.6rem 3.2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border: none;
  border-radius: 5rem;
  background-color: transparent;

  font-size: $body-text-size;
  font-weight: 500;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  transition: color $time, background-color $time, border-color $time;

  cursor: pointer;

  &--large {
    padding: 2.4rem 4.8rem;

    @media (max-width: $laptop) {
      padding: 2rem 4rem;
    }
    @media (max-width: $mobile) {
      padding: 1.6rem 3.2rem;
    }
  }

  &--primary {
    color: #fff;
    background-color: $light-color;

    @media (hover: hover) {
      &:hover {
        background-color: darken($light-color, 15%);
      }
    }
  }

  &--secondary {
    border: 1px solid $dark-grey-color;
    color: $heading-dark;
    @media (hover: hover) {
      &:hover {
        border-color: $light-color;
      }
    }
  }
  &--tertiary {
    padding: 1rem;
    @media (hover: hover) {
      &:hover {
        color: $heading-dark;
      }
    }
  }

  &--tag {
    padding: 0.5rem 1.5rem;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    font-weight: 400;
    color: #000;
    background-color: $grey-color;

    @media (hover: hover) {
      &:hover {
        color: #fff;
        background-color: $light-color;
      }
    }
  }
}
