.btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;

  &.tags {
    gap: 1rem;
  }
}

.btn {
  min-width: max-content;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;

  border: none;
  border-radius: 5rem;

  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;

  cursor: pointer;

  &--large {
    padding: 2.5rem 5rem;
  }

  &--small {
    padding: 1rem 2rem;
  }

  &--primary {
    color: #fff;
    background-color: $light-color;

    &:hover {
      color: #fff;
    }
  }

  &--secondary {
    color: $text-color-dark;
    transition: color $time;

    &:hover {
      color: $light-color;
    }
  }

  &--tag {
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $text-color-dark;
    background-color: $grey-color;
  }

  &--full-width {
    @media (max-width: $mobile) {
      width: 100%;
      justify-content: center;
    }
  }
}
