.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  &__input-group {
    flex: 1 1 30rem;
  }

  &__textarea-group {
    flex: 1 1 60rem;
  }

  label {
    margin-bottom: 1rem;
    display: block;
  }

  input,
  textarea {
    font-family: "Hind", sans-serif;
    width: 100%;
    font-size: 2rem;
    border: 1px solid $grey-color;
    background-color: $grey-color;
    padding: 1rem 3rem;
    border-radius: 3rem;
    transition: border $time, background-color $time;

    &.success {
      background-color: $grey-color;
      border-color: green;
    }

    &.error {
      background-color: #fff;
      border-color: crimson;
    }
  }

  &__error-text {
    margin-top: 5px;
    color: crimson;
    font-size: 1.5rem;
  }

  textarea {
    padding: 3rem;
    min-height: 30rem;
  }

  .btns {
    width: 100%;
  }
}
