.list-group {
  .list {
    &__item {
      min-width: 20rem;
      margin-bottom: 1rem;

      @media (max-width: $mobile) {
        min-width: 18rem;
      }

      &.image::before {
        display: inline-block;
        content: url("/svg/list-img.svg");
        margin-right: 1rem;
      }
    }
  }
}
