.modal {
  width: 100%;
  max-width: 60rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 4rem;
  border-radius: 4rem;
  box-shadow: 0 5px 15px rgba($heading-dark, 0.2);
  z-index: 100;

  .btns {
    justify-content: flex-end;
  }
}
