.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15rem;
  padding: 12rem 0;

  &.alt {
    flex-direction: row-reverse;
  }

  &__img {
    position: relative;
    flex: 1 1 34rem;
    min-width: 34rem;
    max-width: 80.3rem;
    aspect-ratio: 1/1;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: $grey-color;
      transform: translate(-12rem, -12rem);
    }

    &.alt::before {
      transform: translate(12rem, -12rem);
    }
  }

  &__details {
    flex: 1 1 34rem;
    min-width: 34rem;
    max-width: 67.4rem;
  }

  &__date {
    font-size: $h3-size;
    color: $light-color;
  }

  &__name {
    text-transform: uppercase;
    font-size: $h2-size;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  &__description {
    text-align: inherit;
    margin-bottom: 2rem;

    span {
      font-weight: 600;
      font-style: italic;
    }
  }

  .btns {
    margin-top: 4rem;
  }

  .btn--secondary {
    color: $heading-dark;
  }

  .tech {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
