.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15rem;
  padding: 12rem 0;

  &.alt {
    flex-direction: row-reverse;
  }

  &__img {
    position: relative;
    flex: 1 1 34rem;
    min-width: 34rem;
    max-width: 80rem;
    aspect-ratio: 4/5;
  }

  &__details {
    flex: 1 1 34rem;
    min-width: 34rem;
    max-width: 67.4rem;
  }

  &__header {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .heading--h2 {
    margin: 0;
  }

  &__date {
    display: flex;
    align-items: center;
    font-size: $body-text-size;
    color: $dark-grey-color;

    &::before {
      display: inline-block;
      content: url("/svg/time-icon.svg");
      width: 2rem;
      height: 2rem;
      margin-right: 8px;
    }
  }

  &__description {
    text-align: inherit;
    margin-bottom: 4rem;

    span {
      font-weight: 600;
      font-style: italic;
    }
  }

  .btn--secondary {
    color: $heading-dark;
  }

  .tech {
    &__items {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  .tech,
  .apis,
  .third-party {
    margin-bottom: 4rem;

    .btns {
      margin: 0;
    }
  }

  .btns {
    margin-top: 4rem;
  }
}
