.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $dark-color;
  z-index: 200;

  .container {
    overflow: hidden;
    max-width: 1920px;
  }

  .info-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    z-index: 201;

    .name {
      font-size: $h3-size;
      color: $heading-light;
    }
    .results {
      color: $body-text-light;
    }
  }

  .navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    z-index: 201;
  }

  .slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    &__wrapper {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      transition: left $time;
    }

    &__slide {
      width: 1920px;
      aspect-ratio: 16/9;
    }
  }

  .btn--slideshow {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;

    &.close {
      top: 0;
      right: 0;
    }
    &.next {
      bottom: 0;
      right: 0;
    }
    &.previous {
      bottom: 0;
      left: 0;
    }
  }
}
