.toast {
  position: fixed;
  bottom: -100%;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  padding: 4rem;
  color: #fff;
  background-color: transparent;

  transition: bottom $time, background-color $time;

  z-index: 2;

  &.success,
  &.error {
    bottom: 0;
  }

  &.success {
    background-color: $success-color;
  }

  &.error {
    background-color: $error-color;
  }

  &__message {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .btn {
    color: inherit;
  }
}
