// Partials
@import "partials/variables";
@import "partials/typography";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

// Global Styles
body {
  font-size: 2rem;
  color: $text-color;
}

.container {
  max-width: $page-width;
}

// Layout Styles
@import "layout/navbar";
@import "layout/mobile-menu";
@import "layout/navigation";
@import "layout/mobile-icon";
@import "layout/main";
@import "layout/footer";
